html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-scene {
  width: 1000px;
  height: 500px;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;
}

#lives {
  display: flex;
  padding-bottom: 5px;
}
 
/* img {
  width: 30px;
  height: 30px;
} */